

.marketplace .categories-list li {
    padding: 0 10px 55px;
  }
  
  .marketplace .categories-list .category-item {
    position: relative;
    display: inline-block;
    width: 180px;
    color: black;
  }
  .marketplace .categories-list .category-item::after {
    content: "";
    position: absolute;
    top: 45px;
    right: 50%;
    transform: translateX(50%);
    padding: 0 0 8px;
    width: 48px;
    transition: 0.4s;
    border-bottom: 2px solid #c5c6c9;
  }
  .marketplace .categories-list .category-item:hover::after {
    width: 60%;
    border-color: #1dbf73;
  }
  