img {
    width: 100%;
  }

  .carousel-search-bar {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  a{
    text-decoration: none;
    color:white
  }
  a:hover{
    text-decoration: none;
    color:white
    /* background-color: white; */
  }
  /* li:hover{
    background-color: white;
    color: black;
  }
  */