/* Tab content - closed */
.tab-content {
    max-height: 0;
    transition: max-height 0.35s;
  }
  
  /* :checked - resize to full height */
  .tab input:checked ~ .tab-content {
    max-height: 100vh;
  }
  
  /* Label formatting when open */
  .tab input:checked + label {
    border-left-width: 1px;
    border-color: white;
  }
  
  /* Icon */
  .tab .label .icon {
    transition: all 0.5s;
    transform-origin: center center;
  }
  
  /* Open Multiple Icon Formatting - Open */
  .tab input[type="checkbox"]:checked + .label .icon {
    transform: rotate(135deg);
  }
  
  .footer_title:hover{
    color: black
  }
  .social-link{
    color: black !important
  }