@tailwind base;
@tailwind components;
@tailwind utilities;




.container {
    margin: auto;
}
.PopularServiceCom{
    margin-top: 50px;
    
}

.carousel-search-bar {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .ant-input-affix-wrapper {
    padding: 5px 5px 5px 44px !important;
    font-size: 16px;
    height: 48px !important;
  }
  :where(.css-dev-only-do-not-override-1n7nwfa).ant-input-affix-wrapper
    .ant-input-suffix {
    align-items: unset !important;
  }
  .ant-input-clear-icon {
    font-size: 16px !important;
  }
  
  .search-form {
    position: relative;
    font-size: 16px;
    color: #000;
    height: 48px;
    margin-bottom: 0;
    border-radius: 4px 0 0 4px;
    width: 100%;
  }
  
  .search-form:focus-visible {
    outline-offset: 0px;
    outline: 0px;
  }
  
  .search-bar button {
    margin: 0;
    border-radius: 0 4px 4px 0 !important;
    display: block;
    font-size: 16px !important;
    padding: 8px 18px !important;
    height: 48px !important;
    background-color: #1dbf73;
  }
  
  .search-form button:hover {
    background-color: #16a160 !important;
  }
  

